extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
  if(role.permissions.includes("products-edit"))
    +alert-success(3000)
    +alert-error(5000)
    .container.mt-5
      h2(class="text-danger") Chỉnh sửa sản phẩm
      form(
        action=`${prefixAdmin}/products/edit/${product._id}?_method=PATCH`
        id="form-edit-product"
        method="POST"
        enctype="multipart/form-data"
      )
        div(class="mb-3")
          label(for="title") Tiêu đề
          input.form-control(
            type="text" 
            id="title" 
            name ="title" 
            value = product.title
            required)
        div(class="mb-3")
          label(for="description") Mô tả
          textarea.form-control.textarea-mce(
            id ="desc" 
            name="description" 
            rows="5") !{product.description}
        div(class="mb-3")
          label(for="description") Nội dung
          textarea.form-control.textarea-mce(
            id ="content" 
            name="content" 
            rows="5" 
            placeholder="Nhập nội dung") !{product.content}
        div(class="mb-3")
          label(for="price") Giá
          input.form-control(
            type="number"
            id="price" 
            name="price" 
            step="0.001"
            value= product.price)
        div(class="mb-3")
          label(for="categoryProduct") Danh mục sản phẩm
          select(name="categoryProduct" id="categoryProduct" class="form-select")
            option(value="") Chọn danh mục sản phẩm
            +select-tree(categoryProduct,1, product.categoryProduct)
        div(class="mb-3 form-check form-check-inline" )
          input(
            type="radio" 
            class="form-check-input" 
            id="featured" 
            name="featured" 
            checked =(product.featured =="1" ? true : false)
            value="1")
          label(
            for="featured" 
            class="form-check-label") Nổi bật      
        div(class="mb-3 form-check form-check-inline" )
          input(
            type="radio" 
            class="form-check-input" 
            id="notfeatured" 
            name="notfeatured" 
            checked =(product.featured =="0" ? true : false)
            value="0")
          label(
            for="notfeatured" 
            class="form-check-label") Không

        div(class="mb-3")
          label(for="mb-3") Phần trăm giảm giá
          input.form-control(
            type="number" 
            step="0.001"
            id="discount" 
            name="discountPercentage" 
            value= product.discountPercentage min=0
            placeholder="Nhập phần trăm giảm giá")
        div(class="mb-3")
          label(for="storage") Dung lượng 
          textarea.form-control(
            id ="storage" 
            name="storage" 
            rows="1" 
            placeholder="")= product.storage
        .mb-3#variation-container
          label(for="mb-3") Màu sắc
          .variation
            each item in product.variations
              .variation-item.d-flex
                input(type="text" name="colors[]" placeholder="Màu sắc" class="form-control mb-2" value=item.color)
                input(type="number" name="quantities[]" placeholder="Số lượng" class="form-control mb-2" value=item.quantity)
                br
          button(type="button" class="btn btn-secondary" id="add-variation") Thêm màu sắc
        div(class="mb-3")
          label(for="srceen") Màn hình
          textarea.form-control(
            id ="screen" 
            name="screen" 
            rows="1" 
            value = product.screen
            placeholder="Nhập inch của màn hình")= product.screen
        div(class="mb-3")
          label(for="srceenType") Loại màn hình
          textarea.form-control(
            id ="screenType" 
            name="screenType" 
            rows="1" 
            placeholder="Nhập loại của màn hình")= product.screenType


        div(class="mb-3" upload-image)

          label(for="thumbnail") Hình ảnh
          input.form-control(
            type="file" 
            id="thumbnail" 
            class="form-control-file"
            accept ="image/*"
            name="thumbnail" 
            upload-image-input)
          img(
            src= product.thumbnail
            class="image-preview"
            upload-image-preview
            )
        div(class="mb-3" upload-list-image)
          label(for="listImage") Danh sách hình ảnh phụ
          input.form-control(
            type="file" 
            id="listImage" 
            class="form-control-file"
            multiple accept="image/*"
            name="listImage" 
            upload-list-image-input)
          div(
            class="list-image-preview d-flex mt-3"
            upload-list-image-preview
            )
            each item in product.listImage 
              img(
                src= item
                class="image-preview"
                upload-image-preview
              )
        div(class="mb-3")
          label(for="position") Vị trí
          input.form-control(
            name="position"
            type="number" 
            id="position" 
            value =  product.position
            min="1")
        div(class="mb-3 form-check form-check-inline" )
          input(
            type="radio" 
            class="form-check-input" 
            id="statusActive" 
            name="status" 
            checked = (product.status =="active" ? true : false)
            value="active")
          label(
            for="statusActive" 
            class="form-check-label") Hoạt động        
        div(class="mb-3 form-check form-check-inline" )
          input(
            type="radio" 
            class="form-check-input" 
            id="statusInActive" 
            name="status" 
            checked =(product.status =="inactive" ? true : false)
            value="inactive")
          label(
            for="statusInActive" 
            class="form-check-label") Dừng hoạt động

        div(class="mb-3")
          button.btn.btn-primary(type="submit") Lưu thông tin
  else 
    h1 Bạn không có quyền truy cập
