extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/formatDateTime.pug
block main 
    if(role.permissions.includes("products-view"))
        +alert-success(3000)
        +alert-error(3000)
        h1 Danh sách sản phẩm

        .card.mt-3
            .card-header Bộ lọc và tìm kiếm 
            .card-body.mt-3
                .row
                    .col-6
                        +filterStatus()
                    .col-6
                        +search()

        .card.mt-3 
            .card-header Sắp xếp 
            .card-body 
                .row 
                    .col-4 
                        +sort()
        .card.mt-3
            .card-header Danh sách
            .card-body
                .row 
                    .col-10
                        if(role.permissions.includes("products-edit"))
                            +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                    .col-2
                        if(role.permissions.includes("products-create"))
                            a(
                                class="btn btn-outline-success"
                                href=`${prefixAdmin}/products/create`
                            ) +Thêm sản phẩm
                table(
                    class="table table-hover table-sm mt-3"
                    checkbox-multi
                )
                    thead
                        tr
                            th 
                                input(type="checkbox" name="checkall")
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Giá
                            th Vị trí
                            th Người tạo
                            th Người cập nhật
                            th Trạng thái
                            th Hành động
                    tbody
                        each item, index in products
                            tr
                                td 
                                    input(type="checkbox" name="id" value = item.id)
                                td #{pagination.limitItems*(pagination.currentPage-1)+ (index+1)}
                                td 
                                    img(src= item.thumbnail, alt='Hình ảnh sản phẩm' width='50')
                                td #{item.title}
                                td #{item.price}đ
                                td 
                                    input(
                                        type="number"
                                        value = item.position
                                        style ="width: 60px"
                                        min="1"
                                        name="position"
                                    )
                                td
                                    p #{item.accountFullName}
                                    if(item.accountFullName)
                                        +formatDateTime(item.createdBy.createdAt)
                                td
                                    p #{item.updatedName}
                                    if(item.updatedName)
                                        +formatDateTime(item.timeUpdatedNew)
                                td  
                                    if(item.status==="active")
                                        a(href="javascript:;" button-change-status data-status = item.status data-id = item.id class="badge bg-success text-decoration-none") Hoạt động
                                    else
                                        a(href=`javascript:;` button-change-status data-status = item.status data-id = item.id class="badge bg-danger text-decoration-none") Dừng hoạt động

                                td 
                                    a(
                                        href=`${prefixAdmin}/products/detail/${item.id}`
                                        class="btn btn-secondary btn-sm"
                                        data-id = item.id) Chi tiết
                                    if(role.permissions.includes("products-edit"))
                                        a(
                                            href=`${prefixAdmin}/products/edit/${item.id}`
                                            class="btn btn-warning btn-sm ms-1"
                                            data-id = item.id) Sửa
                                    if(role.permissions.includes("products-delete"))
                                        button(class="btn btn-danger btn-sm ms-1" button-delete data-id=item.id ) Xóa
        +pagination()
        if(role.permissions.includes("products-edit"))
            form(
                action=""
                method="POST"
                id="form-change-status"
                data-path=`${prefixAdmin}/products/change-status/`
            )
        if(role.permissions.includes("products-delete"))
            form(
                action=""
                method="POST"
                id="form-delete-item"
                data-path=`${prefixAdmin}/products/delete`
                )
    else    
        h1 Bạn không có quyền truy cập 
