extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/formatDateTime.pug
block main 
    if(role.permissions.includes("products-view"))
        +alert-success(3000)
        +alert-error(3000)
        
        .page-header.d-flex.justify-content-between.align-items-center.mb-4
            h1.page-title 
                i.fas.fa-box-open.me-2
                | Danh sách sản phẩm
            if(role.permissions.includes("products-create"))
                a(class="btn btn-success btn-add" href=`${prefixAdmin}/products/create`)
                    i.fas.fa-plus.me-2
                    | Thêm sản phẩm

        .card.shadow.mb-4
            .card-header.bg-white.py-3
                .row.align-items-center
                    .col-md-3
                        +filterStatus()
                    .col-md-5
                        +search()
                    .col-md-4
                        +sort()
                    

        .card.shadow
            .card-header.bg-white.py-3.d-flex.justify-content-between.align-items-center
                h6.m-0.font-weight-bold.text-primary Danh sách sản phẩm
                if(role.permissions.includes("products-edit"))
                    +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
            
            .card-body
                .table-responsive
                    table.table.table-hover.align-middle(checkbox-multi)
                        thead.bg-light
                            tr
                                th 
                                    .form-check
                                        input.form-check-input(type="checkbox" name="checkall" id="checkall")
                                        label.form-check-label(for="checkall")
                                th STT
                                th Hình ảnh
                                th.product-title Tiêu đề
                                th Giá
                                th Vị trí
                                th Người tạo
                                th Cập nhật
                                th Trạng thái
                                th.text-center Hành động
                        tbody
                            each item, index in products
                                tr
                                    td 
                                        .form-check
                                            input.form-check-input(type="checkbox" name="id" value=item.id id=`item-${item.id}`)
                                            label.form-check-label(for=`item-${item.id}`)
                                    td.text-center #{pagination.limitItems*(pagination.currentPage-1)+ (index+1)}
                                    td 
                                        .product-img
                                            img(src=item.thumbnail, alt=item.title)
                                    td.product-info
                                        .product-name #{item.title}
                                        if item.categoryProduct
                                            span.product-category #{item.categoryProduct}
                                    td.text-nowrap
                                        .product-price #{new Intl.NumberFormat('vi-VN').format(item.price)}₫
                                        if item.discountPercentage
                                            span.discount-badge -#{item.discountPercentage}%
                                    td 
                                        input.form-control.form-control-sm.position-input(
                                            type="number"
                                            value=item.position
                                            min="1"
                                            name="position"
                                        )
                                    td.creator-info
                                        if item.accountFullName
                                            .d-flex.align-items-center
                                                .avatar.me-2
                                                    span #{item.accountFullName.charAt(0)}
                                                .info
                                                    span.name #{item.accountFullName}
                                                    .date
                                                        +formatDateTime(item.createdBy.createdAt)
                                    td
                                        if item.updatedName
                                            .updated-info
                                                span.name #{item.updatedName}
                                                .date
                                                    +formatDateTime(item.timeUpdatedNew)
                                    td
                                        if(item.status==="active")
                                            a.status-badge.active(href="javascript:;" button-change-status data-status=item.status data-id=item.id)
                                                i.fas.fa-circle.me-1
                                                | Hoạt động
                                        else
                                            a.status-badge.inactive(href="javascript:;" button-change-status data-status=item.status data-id=item.id)
                                                i.fas.fa-circle.me-1
                                                | Dừng hoạt động

                                    td.action-column
                                        .btn-group.action-buttons
                                            a.btn.btn-sm.btn-outline-info(
                                                href=`${prefixAdmin}/products/detail/${item.id}`
                                                data-id=item.id
                                                data-bs-toggle="tooltip" 
                                                data-bs-placement="top" 
                                                title="Chi tiết"
                                            )
                                                i.fas.fa-eye
                                            if(role.permissions.includes("products-edit"))
                                                a.btn.btn-sm.btn-outline-primary(
                                                    href=`${prefixAdmin}/products/edit/${item.id}`
                                                    data-id=item.id
                                                    data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" 
                                                    title="Sửa"
                                                )
                                                    i.fas.fa-edit
                                            if(role.permissions.includes("products-delete"))
                                                button.btn.btn-sm.btn-outline-danger(
                                                    button-delete 
                                                    data-id=item.id
                                                    data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" 
                                                    title="Xóa"
                                                )
                                                    i.fas.fa-trash-alt
                
                .d-flex.justify-content-center.mt-4
                    +pagination()

        if(role.permissions.includes("products-edit"))
            form(
                action=""
                method="POST"
                id="form-change-status"
                data-path=`${prefixAdmin}/products/change-status/`
            )
        if(role.permissions.includes("products-delete"))
            form(
                action=""
                method="POST"
                id="form-delete-item"
                data-path=`${prefixAdmin}/products/delete`
            )
    else    
        .access-denied
            .icon
                i.fas.fa-lock.fa-4x
            h1 Truy cập bị từ chối
            p Bạn không có quyền truy cập vào trang này. Vui lòng liên hệ quản trị viên để biết thêm chi tiết.