extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    if(role.permissions.includes("roles-create")) 
        +alert-error(3000)
        h1(class="mb-3") Tạo nhóm quyền 

        form(
            action=`${prefixAdmin}/roles/create`
            method="POST"
        )
            div(class="mb-3")
                label(for="title") Tên nhóm quyền
                input.form-control(
                type="text" 
                id="title" 
                name ="title" 
                required 
                placeholder="Nhập tên nhóm quyền")
            div(class="mb-3")
                label(for="description") Mô tả
                textarea.form-control(
                id ="desc" 
                name="description" 
                rows="1" 
                placeholder="Nhập mô tả")
            div(class="mb-3")
                button.btn.btn-primary(type="submit") Thêm mới
    else 
        h1 Bạn không có quyền truy cập





