extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    if(role.permissions.includes("roles-view")) 
        +alert-success(3000)
        +alert-error(3000)
        h1(class="mb-3") Nhóm quyền 

        .card.mb-3 
            .card-header Danh sach 
            .card-body 
                .row 
                    .col-10
                    .col-2.text-right 
                        if(role.permissions.includes("roles-create")) 
                        a(
                            href=`${prefixAdmin}/roles/create`
                            class= "btn btn-outline-success"
                        ) + Thêm mới 
                table(
                    class="table table-hover table-sm mt-3"   
                )
                    thead
                        tr
                            th STT
                            th Nhóm quyền
                            th Mô tả ngắn
                            th Hành động
                    tbody
                        if(records.length > 0)
                            each item, index in records
                                tr
                                    td #{index+1}
                                    td #{item.title}
                                    td #{item.description}
                                    td 
                                        a(
                                            href=`${prefixAdmin}/roles/detail/${item.id}`
                                            class="btn btn-secondary btn-sm"
                                            data-id = item.id) Chi tiết
                                        if(role.permissions.includes("roles-edit")) 
                                            a(
                                                href=`${prefixAdmin}/roles/edit/${item.id}`
                                                class="btn btn-warning btn-sm ms-1"
                                                data-id = item.id) Sửa
                                        if(role.permissions.includes("roles-delete")) 
                                            button(class="btn btn-danger btn-sm ms-1" button-delete data-id=item.id ) Xóa
                        else 
                            tr 
                                td(colspan=3 class="text-center") Chưa có nhóm quyền nào được chọn
        if(role.permissions.includes("roles-delete")) 
            form(
                action=""
                method="POST"
                id="form-delete-item"
                data-path=`${prefixAdmin}/roles/delete`
                )
    else    
        h1 Bạn không có quyền truy cập



