extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    if(role.permissions.includes("roles-permissions")) 
        +alert-success(3000)
        +alert-error(3000)
        
        .d-flex.justify-content-between.align-items-center.mb-4
            h1.m-0 Phân quyền người dùng
            if(records)
                button(
                    type="submit"
                    class="btn btn-primary"
                    button-submit
                )
                    i.fas.fa-save.me-2.text-white
                    | Cập nhật
                    
        div(data-records=records)
        if(records)
            .card.shadow-sm.mb-4
                .card-header.bg-white.py-3
                    h5.card-title.m-0
                        i.fas.fa-shield-alt.me-2.text-primary
                        | Bảng phân quyền
                .card-body.p-0
                    .table-responsive
                        table(
                            class="table table-hover table-sm align-middle mb-0"
                            table-permission
                        )
                            thead.bg-light
                                tr 
                                    th.py-3 Tính năng 
                                    each item in records
                                        th(class="text-center py-3") #{item.title}
                            tbody 
                                tr(data-name="id" class="d-none")
                                    td 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="text" value=item.id)
                                
                                tr.table-group-divider     
                                    td(colspan="4" class="bg-light py-2")
                                        strong
                                            i.fas.fa-folder.me-2.text-warning
                                            | Danh mục sản phẩm
                                tr(data-name="products-category-view")
                                    td
                                        i.fas.fa-eye.me-2.text-info
                                        | Xem
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="products-category-create")
                                    td
                                        i.fas.fa-plus.me-2.text-success
                                        | Thêm mới
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="products-category-edit")
                                    td
                                        i.fas.fa-edit.me-2.text-primary
                                        | Chỉnh sửa 
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="products-category-delete")
                                    td
                                        i.fas.fa-trash-alt.me-2.text-danger
                                        | Xóa
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")

                                //- san pham
                                tr.table-group-divider     
                                    td(colspan="4" class="bg-light py-2")
                                        strong
                                            i.fas.fa-box.me-2.text-secondary
                                            | Sản phẩm
                                tr(data-name="products-view")
                                    td
                                        i.fas.fa-eye.me-2.text-info
                                        | Xem
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="products-create")
                                    td
                                        i.fas.fa-plus.me-2.text-success
                                        | Thêm mới
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="products-edit")
                                    td
                                        i.fas.fa-edit.me-2.text-primary
                                        | Chỉnh sửa 
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="products-delete")
                                    td
                                        i.fas.fa-trash-alt.me-2.text-danger
                                        | Xóa
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                //- nhom quyen
                                tr.table-group-divider     
                                    td(colspan="4" class="bg-light py-2")
                                        strong
                                            i.fas.fa-users-cog.me-2.text-purple
                                            | Nhóm quyền
                                tr(data-name="roles-view")
                                    td
                                        i.fas.fa-eye.me-2.text-info
                                        | Xem
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="roles-create")
                                    td
                                        i.fas.fa-plus.me-2.text-success
                                        | Thêm mới
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="roles-edit")
                                    td
                                        i.fas.fa-edit.me-2.text-primary
                                        | Chỉnh sửa 
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="roles-delete")
                                    td
                                        i.fas.fa-trash-alt.me-2.text-danger
                                        | Xóa
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="roles-permissions")
                                    td
                                        i.fas.fa-shield-alt.me-2.text-indigo
                                        | Phân quyền
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                //- danh sach tai khoan
                                tr.table-group-divider     
                                    td(colspan="4" class="bg-light py-2")
                                        strong
                                            i.fas.fa-user-friends.me-2.text-info
                                            | Danh sách tài khoản
                                tr(data-name="accounts-view")
                                    td
                                        i.fas.fa-eye.me-2.text-info
                                        | Xem
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="accounts-create")
                                    td
                                        i.fas.fa-plus.me-2.text-success
                                        | Thêm mới
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="accounts-edit")
                                    td
                                        i.fas.fa-edit.me-2.text-primary
                                        | Chỉnh sửa 
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
                                tr(data-name="accounts-delete")
                                    td
                                        i.fas.fa-trash-alt.me-2.text-danger
                                        | Xóa
                                    each item in records
                                        td(class="text-center")
                                            .form-check.d-flex.justify-content-center
                                                input(type="checkbox" class="form-check-input")
            

            form(
                action=`${prefixAdmin}/roles/permissions?_method=PATCH`
                id="form-change-permissions"
                method="POST"
                )  
                div(class="form-group d-none")
                    input(
                        type="text"
                        class="form-control"
                        name="permissions"
                    ) 

            script(src="/admin/js/roles.js")
    else 
        .alert.alert-danger.m-4
            i.fas.fa-exclamation-triangle.me-2.text-danger
            | Bạn không có quyền truy cập trang này

