extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success(3000)
    section.detail 
        p.page-title Trang chủ / #{pageTitle}

        .product-name 
            h1 iPhone 16 Promax
            .box-option 
                .detail-rate  thông số
                .detail-rate-title 
            .like-fanpage 
                | like

        .main-products
            #content
                .row
                    .col-lg-12.col-md-12.col-sm-12
                        .row
                            .col-lg-5.col-md-6.col-sm-12.bg-light
                                .card 
                                    .card-header
                                        img(src=`${product.thumbnail}`, alt='' style="width:100%")
                                    .card-body.card-description
                                        .card-title.text-success.text-title ĐẶC ĐIỂM NỔI BẬT
                                        .card-text.text-description !{product.content}
                                .card.card-info 
                                    .card-body
                                        .card-title.text-title THÔNG TIN CHI TIẾT

                            .col-lg-7.col-md-6.col-sm-12.bg-light
                                .card
                                    .card-body
                                        .single-item-body
                                            p.single-item-detail-title(style='font-size: 30px;') #{product.title}
                                            p.single-item-detail-price
                                                span.price-details #{product.priceInter}đ
                                                span.price-payment-details #{product.priceNew}đ
                                        .clearfix
                                        .single-item-options
                                            form(action=`/cart/add/${product.id}` method="POST")
                                                label(for="quantity") Số lượng
                                                input(
                                                    class="form-control"
                                                    type="number"
                                                    name="quantity"
                                                    value="1"
                                                    min="1"
                                                    max=product.stock
                                                )
                                                button.btn.btn-success.mt-3 Thêm vào giỏ hàng
                                                button.btn.btn-danger.mt-3.ms-3 Mua ngay 
                                            .clearfix
                                .card.mt-3
                                    .card-body
                                        .card-title.text-title MÔ TẢ SẢN PHẨM
                                        .card-text.text-description.card-hide !{product.description}
                                        button.btn.btn-link.mt-2#show-more Xem thêm

                        .space50
                            | &nbsp;

                        .beta-products-list
                            h4 Sản phẩm tương tự
                            .row
                                .col-sm-12.col-md-4
                                    .single-item
                                        .single-item-header
                                            a(href='product.html')
                                                img(src="https://cdn.dummyjson.com/products/images/mobile-accessories/Apple%20Airpods/thumbnail.png" width='270px' height='380px')
                                        .single-item-body
                                            p.single-item-title 100
                                            .single-item-price
                                                span

                
