extends ../../layouts/default.pug

block main
    .container.mt-3
        #content
            .row
                .col-sm-9
                    .row
                        span.discount -#{product.discountPercentage}%
                        .col-sm-5.bg-light
                            img(src=`${product.thumbnail}`, alt='' style="width:200px")
                        .col-sm-7.bg-light
                            .single-item-body
                                p.single-item-title.text-left(style='font-size: 30px;') #{product.title}
                                p.single-item-price
                                    span.price #{product.price}$
                                    span.price-payment  #{product.priceNew}$
                            .clearfix
                            p(style='font-weight: bold;') Options:
                            .single-item-options
                                select.wc-select(name='size')
                                    option Size
                                    option(value='XS') XS
                                    option(value='S') S
                                    option(value='M') M
                                    option(value='L') L
                                    option(value='XL') XL
                                select.wc-select(name='color')
                                    option Color
                                    option(value='Red') Red
                                    option(value='Green') Green
                                    option(value='Yellow') Yellow
                                    option(value='Black') Black
                                    option(value='White') White
                                select.wc-select(name='qty')
                                    option Qty
                                    option(value='1') 1
                                    option(value='2') 2
                                    option(value='3') 3
                                    option(value='4') 4
                                    option(value='5') 5
                                a.add-to-cart(href='#') 
                                    i.fa.fa-shopping-cart
                                .clearfix

                    .woocommerce-tabs.mt-3
                        ul.tabs.nav.nav-tabs
                            li.nav-item
                                a.nav-link(href='#tab-description') Description
                            li.nav-item
                                a.nav-link.ms-1(href='#tab-reviews') Reviews (0)

                        .tab-content
                            .tab-pane.fade.show.active#tab-description
                                p(style='color:red') THÔNG TIN CHI TIẾT #{product.title}
                                p #{product.description}
                                br
                                p #{product.description}
                            .tab-pane.fade#tab-reviews
                                p No Reviews

                    .space50
                        | &nbsp;

                    .beta-products-list
                        h4 Related Products
                        .row
                            .col-sm-4
                                .single-item
                                    .single-item-header
                                        a(href='product.html')
                                            img(src="https://cdn.dummyjson.com/products/images/mobile-accessories/Apple%20Airpods/thumbnail.png",width='270px' height='380px')
                                    .single-item-body
                                        p.single-item-title 100
                                        .single-item-price
                                            span


                .col-sm-3.aside
                    .widget
                        h3.widget-title Best Sellers
                        .widget-body
                            .beta-sales.beta-lists
                                .media.beta-sales-item
                                    a.pull-left
                                        img(src="https://cdn.dummyjson.com/products/images/mobile-accessories/Apple%20Airpods/thumbnail.png", alt='')
                                    .media-body
                                        p.beta-sales-name
                                        p.beta-sales-price   

                    .widget
                        h3.widget-title New Products
                        .widget-body
                            .beta-sales.beta-lists
                                .media.beta-sales-item
                                    a.pull-left(href='product.html')
                                        img(src="https://cdn.dummyjson.com/products/images/mobile-accessories/Apple%20Airpods/thumbnail.png", alt='')
                                    .media-body
                                        p.beta-sales-name
                                        p.beta-sales-price

