extends ../../layouts/default.pug
block main  
    br
    br 
    .row
        each item in products
            .col-sm-3
                .single-item
                    span.discount -#{item.discountPercentage}%
                    .single-item-header
                        a(href='product.html')
                        img(src=item.thumbnail)
                    .single-item-body
                        p.single-item-title #{item.title}
                        p.single-item-price
                            span.price #{item.price}$
                            span.price-payment  #{item.priceNew}$
                    .single-item-caption
                        a.add-to-cart.pull-left(href='shopping_cart.html')
                            i.fa.fa-shopping-cart
                        a.beta-btn.primary(href='product.html')
                            | Details 
                            i.fa.fa-chevron-right
                    .clearfix
