mixin grid-products(products)
    each item in products
        .col-12.mb-3.col-12.col-lg-3.col-md-6
            .single-item
                .row.row-option
                    .col-6
                        if(item.discountPercentage!=0)
                            span.discount -#{item.discountPercentage}%
                    .col-6
                .single-item-header
                    a(href=`/products/detail/${item.slug}`)
                        img(src=item.thumbnail)
                .single-item-body
                    p.single-item-title.text-center
                        a(class="text-decoration-none" href=`products/detail/${item.slug}`) #{item.title}
                    p.single-item-price.text-center
                        span.price #{item.price}.000đ
                        span.price-payment  #{item.priceNew}.000đ
              
                .clearfix
