mixin grid-products(products)
    each item in products
        .col-sm-6.mb-3.col-6.col-lg-2.col-md-4
            .single-item
                .single-item-discount
                    if(item.discountPercentage!=0)
                        span.discount -#{item.discountPercentage}%
                .single-item-header
                    a(href=`/products/detail/${item.slug}`)
                        img(src=item.thumbnail)
                .single-item-body
                    .single-item-title
                        a.truncate-text(class="text-decoration-none" href=`products/detail/${item.slug}`) #{item.title}
                    .single-item-price
                        span.price-payment-home  #{item.priceNew}đ
                        span.price #{item.priceInter}đ  
                    .star-rating
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.far.fa-heart.text-danger.heart-icon


                .clearfix
