mixin grid-products(products)
    each item in products
        .col-12.mb-3.col-12.col-lg-3.col-md-6
            .single-item.text-start.single-item-product
                .single-item-discount
                    if(item.discountPercentage!=0)
                        span.discount -#{item.discountPercentage}%
                .single-item-header
                    a(href=`/products/detail/${item.slug}`)
                        img(src=item.thumbnail)
                .single-item-body
                    .single-item-title.mb-2
                        a(class="text-decoration-none" href=`products/detail/${item.slug}`) #{item.title}
                    .single-item-compare
                        ul.list-item-feature
                            li Màn hình 6.67
                            li HD+
                         
                    .single-item-storage
                        ul.list-item-storage 
                            li.btn 256GB
                            li.btn 512GB
                            li.btn 1TB
                    .single-item-price
                        span.price-payment  #{item.priceNew}đ
                        span.price  #{item.priceInter}đ  
                    .star-rating
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.fas.fa-star.text-warning
                        i.far.fa-heart.text-danger.heart-icon


                .clearfix


