mixin alert-success(time)
    - if(messages.Success)
        div(
            class="alert alert-success"
            show-alert 
            data-time=time
        ) #{messages.Success} <span close-alert ></span>

mixin alert-error(time)
    - if(messages.Error)
        .message-info
            h5(
                class="alert alert-danger"
                show-alert 
                data-time=time
            ) #{messages.Error} <span close-alert ></span>