mixin search 
    form(id ="form-search")
        .input-group
            input(
                type="text"
                placeholder="Nhập từ khóa"
                name="keyworld"
                class="form-control"
                value=keyworld
                )
            button(
                class="btn btn-success"
                type="submit"
                   ) Tìm