include formatDateTime.pug
mixin table-tree(records, level=1)
    each item, index in records
        - const prefix = Array(level +1).join("-- ")
        tr
            td 
                input(type="checkbox" name="id" value = item.id)
            td #{item.index}
            td 
                img(src= item.thumbnail, alt='Hình ảnh sản phẩm' width='50')
            td #{prefix}#{item.title}
            td 
                input(
                    type="number"
                    value = item.position
                    style ="width: 60px"
                    min="1"
                    name="position"
                )
            td
                p #{item.createdName}
                if(item.createdName)
                    +formatDateTime(item.createdBy.createdAt)
            td
                p #{item.updatedName}
                if(item.updatedName)
                    +formatDateTime(item.timeUpdatedNew)
            td  
                if(item.status==="active")
                    a.status-badge.active(href="javascript:;" button-change-status data-status=item.status data-id=item.id)
                        i.fas.fa-circle.me-1
                                                | Hoạt động
                else
                    a.status-badge.inactive(href="javascript:;" button-change-status data-status=item.status data-id=item.id)
                        i.fas.fa-circle.me-1
                                                | Dừng hoạt động

            td 

                if(role.permissions.includes("products-category-edit"))
                   a.btn.btn-sm.btn-outline-primary(
                                                    href=`${prefixAdmin}/products/edit/${item.id}`
                                                    data-id=item.id
                                                    data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" 
                                                    title="Sửa"
                    )
                        i.fas.fa-edit
                if(role.permissions.includes("products-category-delete"))
                    button.btn.btn-sm.btn-outline-danger(
                                                    button-delete 
                                                    data-id=item.id
                                                    data-bs-toggle="tooltip" 
                                                    data-bs-placement="top" 
                                                    title="Xóa"
                                                )
                        i.fas.fa-trash-alt
        if item.children && item.children.length > 0
            +table-tree(item.children, level+1)
