extends ../../layouts/default.pug
include ../../mixins/grid-products.pug
block main 
    section
        p Trang chat / #{pageTitle}
    .body 
        .main 
            .container.mt-5(myId= user.id)
                .row.justify-content-center
                    div(class="name-send fw-bold fs-5") Tran cong Thuong
                    .card
                        .card-body.chat-body
                            .chat-messages.mb-3
                                each chat in chats
                                    if(chat.user_id == user.id)
                                        .sender 
                                            if(chat.content)
                                                .message-bubble #{chat.content} 
                                            if(chat.images.length >0 )
                                                .inner-images 
                                                    each image in chat.images   
                                                        img(src=image width= "100px")
                                    else
                                        .receiver
                                            |#{chat.infoUser.fullName}
                                            if(chat.content)
                                                .message-bubble #{chat.content} 
                                            if(chat.images)
                                                .inner-images 
                                                    each image in chat.images   
                                                        img(src=image width= "100px")
                                div(class="inner-list-typing")
                            .inner-preview-images
                                div(class="custom-file-container" data-upload-id="my-unique-id")

                        .card-footer
                            form(action ="" id ="form-send")
                                .input-group
                                    input.form-control(type="text" placeholder="Type a message..." name= "content" input-chat style="margin-right:10px" )
                                    label(for ="file-upload-with-preview-my-unique-id" class="btn-image mt-1") <i class="fas fa-image"></i>
                                    i(class="far fa-smile btn-icon" width="20px")
                                    button.btn-send(type="submit" btn-send)  <i class="fas fa-paper-plane text-light"></i>
        div(class="tooltip" role="tooltip")
            emoji-picker
    script(src="/socket.io/socket.io.js") 
    script(type="module" src="/js/chat.js") 