.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Tông quan
            li  
                a(href=`${prefixAdmin}/products`) Sản phẩm
            li  
                a(href=`${prefixAdmin}/category-products`) Danh mục sản phẩm
            li  
                a(href=`${prefixAdmin}/roles`) Nhóm quyền
            li  
                a(href=`${prefixAdmin}/roles/permissions`) Phân quyền
            li  
                a(href=`${prefixAdmin}/accounts`) Danh sách tài khoản