include ../mixins/sub-menu.pug
header.header
    .header-search
        .row.align-items-center
            .col-2
                .inner-logo
                    a(href="/")
                        img(src="/images/dina.png" alt="Logo")
            .col-6
                .inner-search.mt-3
                    form(action="/search" method="GET")
                        div(class="mb-3 d-flex")
                            input(
                                type="text"
                                placeholder="Hôm nay bạn tìm gì ...."
                                class="form-control"
                                name="keyword"
                                value=keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-warning"
                            )  <i class="fas fa-search"></i>  
            .col-4.text-end  
                .inner-menu
                    ul.d-flex.justify-content-end 
                        li.nav-item
                            a.border-warning.border.border-2.btn(href="/cart") <i class="fas fa-cart-plus fs-5"></i>  
                        li.nav-item
                            a.text-hotline(href="/phone") <i class="fas fa-phone-alt btn-phone btn"></i> 
                            span.text-phone 0812299913
                        li.nav-item.dropdown
                            if(user)
                                i.fas.fa-user#dropdownMenuButton.btn.btn-warning(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                ul.dropdown-menu(aria-labelledby="dropdownMenuButton")
                                    li
                                        a.dropdown-item(href="/user/info") Thông tin tài khoản
                                    li
                                        a.dropdown-item(href="/user/logout") Đăng xuất
                            else
                                button#dropdownMenuButton.btn.btn-warning(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    | Tài khoản
                                ul.dropdown-menu(aria-labelledby="dropdownMenuButton")
                                    li
                                        a.dropdown-item(href="/user/login") Đăng nhập
                                    li
                                        a.dropdown-item(href="/user/register") Đăng ký

    .header-item
        .row 
            .col-1
            .col-10.text-center
                .inner-menu
                    ul
                        li.nav-item.dropdown <i class="fas fa-home"></i>
                            a.ms-2(href="/") Trang chủ
                        each item in categoryProducts
                            li.nav-item.dropdown.sub-menu
                                -const pathProduct = "/products"
                                a(href=`/products/${item.slug}`) #{item.title}
                        li.nav-item.dropdown
                            a(href="/") Tin tức
                        li.nav-item.dropdown
                            a(href="/chat") Liên hệ
                        li.nav-item.dropdown
                            a(href="/") Hệ thống cưa hàng
