include ../mixins/sub-menu.pug
header.header
    .header-search
        .row.align-items-center
            .col-lg-2.col-md-2.col-sm-1
                .inner-logo
                    a(href="/")
                        img(src="/images/dina.png" alt="Logo")
            .col-lg-7.col-sm-6.col-md-6.col-6
                .inner-search.mt-3
                    form(action="/search" method="GET")
                        div(class="mb-3 d-flex")
                            input(
                                type="text"
                                placeholder="Hôm nay bạn tìm gì ...."
                                class="form-control"
                                name="keyword"
                                value=keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-warning"
                            )  <i class="fas fa-search"></i>  
            .col-lg-3.text-end.col-sm-5.col-md-4.col-6
                .inner-menu-log
                    ul.d-flex
                        li.nav-item.nav-item-cart.text-start
                            a(href="/cart") <i class="fas fa-cart-plus fs-5 btn-cart"></i>  
                        li.nav-item.nav-item-toggle
                            button#navbarToggle.btn.btn-warning(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                                 i.fas.fa-bars
                      
                                
                        li.nav-item.dropdown.nav-item-account
                            if(user)
                                i.fas.fa-user#dropdownMenuButton.btn.btn-warning.btn-account(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                ul.dropdown-menu(aria-labelledby="dropdownMenuButton")
                                    li
                                        a.dropdown-item(href="/user/info") Thông tin tài khoản
                                    li
                                        a.dropdown-item(href="/user/logout") Đăng xuất
                            else
                                button#dropdownMenuButton.btn.btn-warning.btn-login(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                                    | Tài khoản
                                ul.dropdown-menu(aria-labelledby="dropdownMenuButton")
                                    li
                                        a.dropdown-item(href="/user/login") Đăng nhập
                                    li
                                        a.dropdown-item(href="/user/register") Đăng ký
    .header-item
        .row 
            .col-12.text-center.header-inner
                .inner-menu
                    ul
                        li.nav-item.dropdown.sub-menu.nav-item-home <i class="fas fa-home"></i>
                            a.ms-2(href="/") Trang chủ
                        each item in categoryProducts
                            li.nav-item.dropdown.sub-menu
                                -const pathProduct = "/products"
                                a(href=`/products/${item.slug}`) #{item.title}
                        li.nav-item.dropdown.sub-menu.nav-item-info
                            a(href="/") Tin tức
                        li.nav-item.dropdown.sub-menu.item-call
                            a(href="/chat") Liên hệ
                        li.nav-item.dropdown.sub-menu.nav-item-shop
                            a(href="/") Hệ thống cưa hàng
